@model IEnumerable<ManageMyTeam.Models.BaseLoad>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Neue Grundlast erfassen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Grundlast
            </th>
            <th>
                Stunden pro Woche
            </th>
            <th>
                Mitarbeiter
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BaseLoadTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseLoadAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BaseLoadId">Bearbeiten</a> |
                <a asp-action="Details" asp-route-id="@item.BaseLoadId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BaseLoadId">Löschen</a>
            </td>
        </tr>
}
    </tbody>
</table>
