@model ManageMyTeam.Models.Absence

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Absence</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AbcenceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AbcenceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AbcenceStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AbcenceStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AbcenceEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AbcenceEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeName.EmployeeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AbsenceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
