@model IEnumerable<ManageMyTeam.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Übersicht</h1>

<p>
    <a asp-action="Create">Mitarbeiter / Mitarbeiterin erfassen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayName("Name Vorname")</a>
            </th>
            <th>
                Work ID
            </th>
            <th>
                Pensum
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["FunctionSortParm"]">@Html.DisplayName("Funktion")</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DepartmentSortParm"]">@Html.DisplayName("Value Stream")</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkLoad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Function.FunctionTyp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeId">Bearbeiten</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeId">Löschen</a>
            </td>
        </tr>
}
    </tbody>
</table>
