@model IEnumerable<ManageMyTeam.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Neues Projekt erfassen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Projekt
            </th>
            <th>
                Projektstart
            </th>
            <th>
                Projektabschluss
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectEndDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjectId">Bearbeiten</a> |
                <a asp-action="Details" asp-route-id="@item.ProjectId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjectId">Löschen</a>
            </td>
        </tr>
}
    </tbody>
</table>
